<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
	
	<%= f.label :email %>
	<%= f.email_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>


	<%= f.label :remember_me do %>
		<%= f.check_box :remember_me %>
		Remember me on this computer
	<% end %>

	<%= f.submit "Log in" %>

<% end %>

<p>Don't have an account? 
<%= link_to "Sign up" %> now.</p> 