<li class="event-<%= event.id %>">
	<h3><%= link_to event.name, event %></h3>



		<%= render 'events/event_info', event: event %>

	<p class="event-description"><%= truncate(event.description, length: 200) %> <%= link_to '(more)', event %><p>

</li>