<h1><%= @event.name %></h3>
	<p>Created by: <%= link_to @event.creator.name, @event.creator %></p>
	<p>When: <%= @event.date.strftime("%e %B %Y") %></p>
	<p>Where: <%= @event.location %></p>
	<p><%= "#{pluralize(@event.attendances.count, 'person')} #{@event.past? ? 'went' : 'going'}" %></p>
	<p><%= @event.description %><p>