<!DOCTYPE html>
<html>
<head>
  <title>Private Events <%= "- #{current_user.name}" unless current_user.nil? %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |message_type, message| %>
	<div class="flash-<%= message_type %>">
		<%= message %>
	</div>
<% end %>

<nav>
	<ul>
		<li><%= link_to "Events",events_path %></li>
	<% if current_user %>
		<li><%= link_to current_user.name, current_user %></li> 
		<li><%= link_to("Log out", logout_path, method: :delete) %></li>
	<% else %>
		<li><%= link_to("Log in", login_path) %></li>
		<li><%= link_to("Sign up", signup_path) %></li>
	<% end %>
	</ul>
</nav>

<%= yield %>

</body>
</html>
